<h1>Réinitialisation de mot de passe</h1>
<p>Bonjour <strong>{{firstName}}</strong>,</p>
<p>Vous avez demandé la réinitialisation de votre mot de passe. Voici votre code de vérification à usage unique :</p>
<div class="otp-code">{{otp}}</div>
<p>Ce code est valable <strong>{{expirationMinutes}} minutes</strong>. Ne le partagez avec personne.</p>
<p>Si vous n'êtes pas à l'origine de cette demande, ignorez simplement cet email.</p>
