<h1>{{title}}</h1>
<p>Bonjour <strong>{{firstName}}</strong>,</p>
<p>{{message}}</p>
{{#if actionUrl}}
<p style="text-align:center;"><a href="{{actionUrl}}" class="btn">Voir le détail</a></p>
{{/if}}
